name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  name: build-linux
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

#    - name: configure
#      run: ./configure

    - name: Install dependencies
      run: make

#    - name: Run check
#      run: make check

#    - name: Run distcheck
#      run: make distcheck
    - name: test
      run: ./hello

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        name: hello-linux-x86_64
        path: hello


jobs:
  name: build-macos
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

#    - name: configure
#      run: ./configure

    - name: Install dependencies
      run: make

#    - name: Run check
#      run: make check

#    - name: Run distcheck
#      run: make distcheck
    - name: test
      run: ./hello

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        name: hello-macos-x86_64
        path: hello
